# 第1章 課題

## 課題1

print関数を使って自分の情報を表示させる

＜実行例＞ `b1998040 Chitose Taro`

In [1]:
print("b2222380 moriya ryo")

b2222380 moriya ryo

## 課題2

int型変数`student_number`に学籍番号の数値の部分を代入し、  
自分の情報を表示させる

＜実行例＞ `b1998040 Chitose Taro`

＜hint＞ 3通りあるはずです。

In [7]:
student_number=2222380
print("b"+str(student_number)+"moriya ryo")

b2222380moriya ryo

## 課題3

10から2800まで、10飛ばしの数を乱数で生成し、  
2220000に足して、名前とともに表示させる

＜実行例＞ `b2220010 Chitose Taro`

In [1]:
import random as rd
ransu=rd.randrange(10,2800,10)
ransu=2220000+ransu
print(print("b"+str(ransu)+"moriya ryo"))

b2220430moriya ryo
None